# Downloaded temporary TitleDB & scraper databases
*.en.json
*.es.json
*.fr.json
*.de.json
*.it.json
*.pt.json
*.zh.json
*.ru.json
*.ja.json
switch_games.json

# Python caches
__pycache__/
*.py[cod]

# IDE
.vscode/
.idea/
